sys$command
*.suo
*.user
*.bak
_Resharper.*
*/temp/
*/[Bb]in/*
*/[Oo]bj/*
*/*/bin/Debug/*
*/*/obj/Debug/*
WebServer/BaixaBancariaUpload/
WebServer/UploadDasPgdas/*.zip
*/*/obj/Debug/*
*/*/bin/*
*/*/obj/Debug/*
*/*/obj/Debug/*
WebServer/UploadDasPgdas/*.zip
*/*/bin/*
*.mdf
*.ldf
